.cart {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 40px;
}
.cart__item + .cart__item {
    margin-top: 28px;
}

.cart__item {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
}
.cart__item__img {
    width: 150px;
    border-radius: 12px;
}
.cart__item__name {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 500;
}
.cart__item__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 8px;
}
.cart__item__right__actions {
    display: flex;
}
.cart__item__right__actions-counter {
    height: 30px;
    width: 30px;
    font-size: 18px;
    border: none;
}

.cart__item__right__actions-counter.minusBtn {
    border-radius: 8px 0px 0px 8px;
    border-block: 1px solid black;
    border-left: 1px solid black;
}

.cart__item__right__actions-counter.plusBtn {
    border-radius: 0px 8px 8px 0px;
    border-block: 1px solid black;
    border-right: 1px solid black;
}

.cart__item__right__actions-counter-btn {
    background: black;
    color: var(--white);
    transition: all 200ms ease-in-out;
}

.cart__item__right__actions-counter-btn:hover,
.cart__item__right__actions-counter-btn:focus {
    background: var(--white);
    color: black;
}

.cart__item__right__actions-counter__input {
    width: 45px;
    text-align: center;
    font-size: 14px;
    border: 1px solid black;
}
.cart__item__right__actions__price {
    font-size: 18px;
}
.cart__item__right__actions__remove {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--accent-color);
}

.cart__item__right__actions__remove:hover,
.cart__item__right__actions__remove:focus {
    text-decoration: underline;
}

.cart__right {
    padding: 16px;
    box-shadow: 0px 0px 4px 2px rgba(0 0 0 / 0.2);
    border-radius: 16px;
}
.cart__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-height: 420px;
}

.cart__form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.cart__form__row-text{
    font-size: 18px;
}

.cart__form__row-text_bold {
    font-weight: 700;
}

.cart__form__input {
    padding: 8px 12px;
    width: 100%;
}

.cart__form > button {
    margin-top: auto;
}

.cart-form-error {
    display: none;
    color: red;
    text-align: center;
}

.cart-form-error.active {
    display: block;
}

.not-visible {
    display: none;
}
