*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
}

main {
    flex-grow: 1;
}

img, caption, video, svg {
    max-width: 100%;
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-family: inherit;
}

label {
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

.container {
    max-width: 1360px;
    margin-top: 50px;
    padding-inline: 20px;
    margin-inline: auto;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2.5rem;
    color: var(--primary-color);
}

.heading-form {
    text-align: center;
}

.page__subtitle {
    font-size: var(--font-700);
    color: var(--secondary-color);
}

.text {
    font-size: var(--font-450);
    line-height: 150%;
}

.text + .text {
    margin-top: 12px;
}

.secondary-btn {
    padding: 10px 14px;
    border: 2px solid var(--secondary-color);
    background-color: #fff;
    transition: all 200ms ease-in-out;
}

.secondary-btn:hover,
.secondary-btn:focus-visible {
    background-color: var(--secondary-color);
    color: var(--white);
}

.hidden_input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
